application/settings/database.php
application/settings/general.php
application/settings/cache.php
application/settings/mail.php
application/modules
application/packages
application/plugins
public/temporary
application/libraries/Zend/Service/WindowsAzure/Diagnostics/ConfigurationDiagnosticInfrastructureLogs.php
