.vscode
application/settings/cache.php
application/settings/database.php
application/settings/general.php
application/settings/mail.php
application/themes/guidanceguide/.sass-cache

appspec.yml
public/temporary
temporary
temporary/cache
temporary/cache-old
temporary/log
temporary/package/
temporary/scaffold
temporary/scaffold/
temporary/session

/nbproject/private/
nbproject/project.xml
nbproject/project.properties
node_modules/
.idea/
.DS_Store
