.prg-comment--text {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.prg-comments{
  .card-author--avatar{
    margin-right: 20px;
  }
}
.prg-comment--replies---renderer{
  margin-left: 70px;
}
