body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
}

.dropdown-menu {
  transition: .1s all ease-in-out;
  transform: scale(0);
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

[data-view] {
  min-height: 75vh;
}

#global_wrapper, #global_content {
  padding: 0 !important;
}

.container-fluid {
  max-width: 1250px;
}

a {
  @include hover-focus-active {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

a, button {
  @include transition($transition-base);
}

a[role=button], a.btn {
  cursor: pointer;
  text-decoration: none !important;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

.btn {
  font-size: .875rem;
}

.dropdown-menu {
  overflow: hidden;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.list-inline-item + .list-inline-item {
  margin-left: .5rem;
}

[data-hover="dropdown"] > .dropdown-menu {
  display: block;
  opacity: 0;
  transition: .15s all ease-in;
  transform: translate(0, 5px);
  visibility: hidden;
}

[data-hover="dropdown"]:hover > .dropdown-menu {
  opacity: 1;
  transform: translate(0, 0);
  visibility: visible;
}

img.thumb_icon, .suggestion_list .item_photo img {
  @include media-breakpoint-down(sm) {
    width: 32px !important;
    height: 32px !important;
  }
}

.star-icon {
  width: 11px;
  height: 11px;
  display: block;
  @include media-breakpoint-up(md) {
    width: 22px;
    height: 22px;
  }
}
