.breadcrumb {
  font-size: .75rem;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
}

.breadcrumb-item {
  color: $text-asphalt;
  a {
    color: $text-asphalt;
    text-decoration: none;
    @include hover-focus-active {
      text-decoration: none;
    }
  }
  &.active {
    color: #c5c5c5;
  }
}

.breadcrumb-item + .breadcrumb-item {
  &:before {
    font-family: 'fontawesome' !important;
    color: inherit;
    content: fa-content($fa-var-angle-double-right);
  }
}