label {
  font-weight: 500;
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
}

.form-control {
  border-style: solid;
  border-width: 0 0 2px 0;
  resize: none;
  border-radius: 0;
  background-color: transparent;
  &:focus {
    border-color: $primary;
  }
  &.form-control-rounded {
    border-radius: 100px;
    border-width: 2px;
  }
}