.modal {
  &.modal-loading {
    .modal-content {
      background-image: url("../images/loader.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 32px;
      > * {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.modal-content > * {
  transition: 0.2s opacity ease-in, 0.2s visibility ease-in;
}

.modal-dialog {
  &.modal-fluid {
    max-width: 1250px;
  }
}