@import "../../scss/variables";
@import "~bootstrap/scss/mixins";


.prg-stars {
  position: absolute;
  bottom: -1px;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  white-space: nowrap;
  line-height: 1;
  li {
    padding: .25rem 0.75rem;
  }
  img, svg {
    width: 11px;
    height: 11px;
    display: block;
    @include media-breakpoint-up(md) {
      width: 22px;
      height: 22px;
    }
  }
  @include media-breakpoint-up(sm) {
    li {
      padding: .625rem .9rem;
    }
  }
  @include media-breakpoint-up(md) {
    left: 20px;
    transform: translate(0, 0);
  }
}

.prg-card--thumbs {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -40px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  .list-inline-item + .list-inline-item {
    margin-left: 0;
  }
  img {
    width: 52px;
    height: 52px;
  }
}
