.prg-badges {
  //height: 100px;
}

.prg-badge {
  flex: none !important;
  width: 48px;
  height: 48px;
  display: block;
  text-align: center !important;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  &--bronze {
    background-image: url('../../images/badges/Bronze.svg');
  }
  &--silver {
    background-image: url('../../images/badges/Silver.svg');
  }
  &--gold {
    background-image: url('../../images/badges/Gold.svg');
  }
  &--platinum {
    background-image: url('../../images/badges/Platinum.svg');
  }
}

.prg-badge--title{
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
}
