body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button {
  @include transition($transition-base);
}

a[role=button] {
  cursor: pointer;
}

.page-section {
  padding: 40px 0;
}

.page-hero {
  padding: 120px 0 60px;
  .form-control, .btn {
    font-size: 0.875rem;
  }
}

.page-hero--title {
  font-size: 60px;
  font-weight: 700;
  font-family: "Open Sans", #{$font-family-sans-serif};
}

.page-hero--caption {
  font-size: 18px;
  font-weight: 600;
}

.content-box {
  border-radius: 10px;
  padding: 15px;
}

.content-box--title {
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
}

img.thumb_icon, .suggestion_list .item_photo img {
  @include media-breakpoint-down(sm) {
    width: 32px !important;
    height: 32px !important;
  }
}