// HEADER
.parental-header {
  .search {
    .form-control {
      border-radius: 50px;
      font-size: 0.75rem;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #B9CFD1;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #B9CFD1;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #B9CFD1;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #B9CFD1;
      }
    }
  }
  .notifications {
    a {
      cursor: pointer;
      > i {
        font-size: 22px;
      }
      > span {
        right: -3px;
        font-size: 10px;
        top: -3px;
        line-height: 1;
        min-width: 14px;
        height: 14px;
        border-radius: 2px;
        box-shadow: 0 0 0 2px #ffffff;
      }
    }
    span.updates_pulldown_active {
      div.pulldown_contents_wrapper {
        right: 0;
        // need
        padding: 0;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, .05);
        border-radius: 10px;
        margin-top: 34px;
        .mark-all {
          background: #F7FCFC;
        }
        ul {
          li {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
            border-top: 1px solid #F5F5F5;
            &.notifications_unread {
              background: #F7FCFC;
            }
          }
        }
      }

    }
  }
  // bottom menu
  .bottom-menu {
    .container {
      ul {
        li {
          a {
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 2px solid $white;
            display: inline-block;
          }
          &:not(:last-child) {
            margin-right: 3rem;
          }
          &:hover {
            a {
              border-bottom: 2px solid $primary;
            }
          }
        }
      }
    }
  }
  .nav-link {
    font-size: $font-size-sm;
  }
}
.dropdown-menu--profile {
  .fa {
    color: #B9CFD1;
    font-size: 12px;
  }
  .dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
}