.parental-review--single {

}

.parental-review--single---heroimage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 400px;
}

.parental-review--single---heroinner {

}

.parental-review--single---hero {
  overflow: hidden;

}

.parental-review--single---stars {
  width: 230px;
  bottom: 0;
  .list-inline-item {
    & + .list-inline-item {
      margin-left: .4rem;
    }
  }
  img, svg {
    width: 20px;
    height: 20px;
  }
  @include media-breakpoint-up(sm) {
    padding: 1rem;
  }
}

.parental-review--single---title {
  font-size: 30px;
  @include media-breakpoint-up(md) {
    font-size: 40px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 60px;
  }
}

.parental-review--single---action {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10;
  .btn {
    width: 50px;
    height: 50px;
    line-height: 1;
    color: #d6d6d6;
  }
}