@import "node_modules/bootstrap/scss/guidanceguide";

// CORE
.seaocore_up_button {
    .seaocore_up_button {
        background: $white;
        border: none;
        span {
            border-radius: 50%;
        }
    }
}



// HEADER
header.extfox-header {
    .container {
        .list-inline-item.search {
          display: none;
        }
        .row {
            div.search {
                input {
                    border-radius: 50px;
                    border: 2px solid #F5F5F5;
                    font-size: 13px;
                    &::placeholder {
                        color: #B9CFD1;
                        font-size: 13px;
                    }
                }
            } // end of search

            div.mini-menu {
                ul {
                    li {
                        &.notifications {
                            i {
                                font-size: 22px;
                                cursor: pointer;
                            }
                            .tip-notifications {
                                display: flex;
                                position: absolute;
                                right: 20px;
                                top: -1px;
                                cursor: pointer;
                                span {
                                    background-color: $primary;
                                    border-radius: 2px;
                                    font-weight: bold;
                                    color: $white;
                                    background-clip: padding-box;
                                    display: inline-block;
                                    text-align: center;
                                    height: 22px;
                                    min-width: 19px;
                                }
                            }
                            
                            span.updates_pulldown_active {
                                div.pulldown_contents_wrapper {
                                    right: 0;
                                    // need
                                    padding: 0;
                                    box-shadow: 0px 20px 30px rgba(0, 0, 0, .05);
                                    border-radius: 10px;
                                    margin-top: 34px;
                                    .mark-all {
                                        background: #F7FCFC;
                                    }
                                    ul {
                                        li {
                                            padding-top: 1rem !important;
                                            padding-bottom: 1rem !important;
                                            border-top: 1px solid #F5F5F5;
                                            &.notifications_unread {
                                                background: #F7FCFC;
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            } // end of mini-menu
        }
    }
}

// FOOTER
footer.extfox-footer {
    div.top-holder {
        .social-holder {
            ul {
                li {
                    border-radius: 50%;
                    background: #93A4A6;
                    &:hover {
                        background: $warning;
                        a {
                            svg {
                                color: $dark;
                            }
                        }
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2rem;
                        height: 2rem;
                        svg {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

// Mobile
@media only screen and (max-width: 768px) {

    // HEADER
    header.extfox-header {
      .list-inline-item.search{
        display:block!important;
        margin-right: 0px;
      }
      .container {
        .mini-menu  {
          ul {
              li.list-inline-item.profile-img {
                a {
                  img {
                    height: 32px!important;
                    width: 32px!important;
                    object-fit: contain!important;
                  }
                }
              }
              li.notifications {
                .tip-notifications {
                  right: 24px !important;
                  top: -6px !important;
                  span{
                    height: 19px!important;
                    min-width: 17px!important;
                  }
                } 
               a {
                 padding-top: 0px!important;
                  i {
                    font-size: 18px;
                  }
               }
               
            }
          }
        }
         padding:0px!important;
        .search-bar {
          z-index: 1;
          transition: .2s ease transform;
          transform: translateY(-5rem);
    
          &.active {
              transform: translateY(1px);
          }
          input {
              background: #F5F5F5!important;
          }
          i {
              right: 1rem;
              top: 1rem;
              color:#333D40!important;
              cursor: pointer;
          }
        }  
      }
    }
}