@import "node_modules/bootstrap/scss/guidanceguide";

// FOOTER
footer.extfox-footer {
    div.top-holder {
        .social-holder {
            ul {
                li {
                    border-radius: 50%;
                    background: #93A4A6;
                    &:hover {
                        background: $warning;
                        a {
                            svg {
                                color: $dark;
                            }
                        }
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2rem;
                        height: 2rem;
                        svg {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}