/* Find a proper place for this -> start */

#global_wrapper{
  width: 100%;
  background-color: #f7fcfc;
}
#leaderboard{
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 0px;
  color: #5f727f;
  margin-bottom: 20px;
}
/* General Main and Wrapper styling end */

.leaderboard_title{
  padding: 0px 20px;
  border-bottom: 1px solid #f5f5f5;
}
.leaderboard_title h3{
  color: #333D40;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin-left: 12px;
  margin-bottom: 0!important;
}
.leaderboard_title ul{
    margin-right: 12px;
}
.leaderboard_title ul li{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding: 6px 30px 6px 30px;
  border: 1px solid #fff;
  border-bottom: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: 0.4s;
}
.leaderboard_title ul li:hover{
  border: 1px solid #f5f5f5;
  border-bottom: 0;
  cursor: pointer;
  color: #5cc7ce;
}
/* Leaderboard Title styling end */

.leaderboard_main{
  padding: 24px 20px 12px;
  font-size: 12px;
  /*border-bottom: 1px solid #f5f5f5;*/
}
/* -> For testing .leaderboard_main div{
  border: 1px solid red;
}*/
.leaderboard_main div:first-child{
  flex: 1;
}
.leaderboard_main div:nth-child(n+3){
  text-align: center;
  flex: 2;
  cursor: pointer;
}
.leaderboard_main div:nth-child(2){
  flex: 7;
}
.leaderboard_main div:nth-child(5){
  cursor: auto;
}
.order_by:hover{
  color: #5bc6cd;
}
/* Leaderboard Main styling end */

.leaderboard_item{
  padding: 10px 0px;
  margin: 0px 20px;
  border-bottom: 1px solid #f5f5f5;
  transition: 0.5s;
}
.leaderboard_item:hover{
  border-bottom: 1px solid #dcf2f2;
  margin: 0;
  padding: 10px 20px;
  background-color: #e4fafa;
}
.leader img{
  border-radius: 50%;
  margin-right: 16px;
}
.leader .cont_level{
  top: 25px;
  left: 28px;
  font-size: 11px;
  font-weight: bold;
  border: 2px solid #e4fafa;
  border-radius: 50%;
  padding: 2px 6px;
  background-color: #5cc7ce;
  color: white;
}
/* -> For testing .leaderboard_item div{
  border: 1px solid red;
}*/
.leaderboard_item div:first-child{
  text-align: center;
  flex: 1;
}
.leaderboard_item div:nth-child(n+3){
  text-align: center;
  flex: 2;
}
.leaderboard_item div:nth-child(2){
  flex: 7;
}
.leaderboard_item div:nth-child(2) h4{
  border: none;
  padding: 0;
  margin: 0;
}
/* Leaderboard Item styling end */

/* Find a proper place for this -> end */


.layout_sdparentalguide_listing_search .sd_listing_search{
     background-color: #fff !important;
}
.layout_sdparentalguide_listing_search .search label{
    width: 100px;
    font-size: 14px !important;
    font-weight: 600;
}

.layout_sdparentalguide_listing_search .sd_inline_field > input[type="text"] {
    padding: 6px;
    width: 130px !important;
}
.layout_sdparentalguide_listing_search .sd_inline_field {
    margin-left: 20px;
}
.layout_sdparentalguide_listing_search .sd_inline_field.include, .layout_sdparentalguide_listing_search .sd_inline_field.complete{
    border: 1px solid #ddd;
    padding: 8px 10px 6px;
    line-height: 12px;
    width: 41%;
    box-sizing: border-box;
    margin-right:0px !important;
}
.layout_sdparentalguide_listing_search .sd_inline_field.sort{
    border: 1px solid #ddd;
    padding: 8px 10px 6px;
    line-height: 12px;
}
.layout_sdparentalguide_listing_search .form-options-wrapper > li:first-child+li {
    margin: 0px 32x;
}
.layout_sdparentalguide_listing_search label.optional{
   width:100px;
   font-size: 14px !important;
   font-weight: 600;
}
.layout_sdparentalguide_listing_search .sd_listing_search input[type=radio]{
 margin-top:0px;
}
.layout_sdparentalguide_listing_search  .sd_inline_field > button {
    border-radius: 5px;
}


#sd_browse_listings .sd_listing_thumb {
    float: left;
    padding-right: 20px;
    width: 150px;
    margin-bottom: 10px;
}
#sd_browse_listings .sd_listing_thumb .flex-control-nav {
    display:none;
}
#sd_browse_listings .sd_listing_thumb .flex-direction-nav a:before {
    font-size: 30px;
}
#sd_browse_listings .sd_listing_thumb .flex-direction-nav a {
    height: 30px;
    width: 30px;
}
#sd_browse_listings  .seaocore_sidebar_list_title{
 float:left;
}
#sd_browse_listings  .seaocore_sidebar_list_title a{
 font-weight:800;
}
#sd_browse_listings .seaocore_sidebar_list_owner > span > a{
  font-weight:800;
}
#sd_browse_listings .seaocore_sidebar_list_owner > span.listing_category,
#sd_browse_listings .seaocore_sidebar_list_owner > span.listing_owner_title{
 margin-left:80px;
}
#sd_browse_listings .seaocore_sidebar_list_owner > span .listing_date{
 float:right;
}
#sd_browse_listings .seaocore_description{
    color: #333;
    margin-top: 10px;
    line-height: 20px;
}
#sd_browse_listings .seaocore_sidebar_list_owner>span:last-child {
    font-weight: 800;
    float: right;
}
.layout_sdparentalguide_browse_listings .sd_inline_field label.optional {
    display: inline-block !important;
    font-weight: 600;
}
.layout_sdparentalguide_browse_listings #grp1-wrapper .sd_inline_field {
    margin-left: 10px;
}
ul#sd_browse_listings > li {
    border-top: 1px solid #333;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow:hidden;
}
#sd_browse_listings #notes-wrapper{
  float:left;
  height: 150px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}
#sd_browse_listings div#notes-label{
 display:none;
}
#sd_browse_listings .global_form_box{
 padding:10px 0px;
}
.sd_browse_listings .sd_listing_thumb a.zoom{
    cursor: zoom-in;
}
.sd_user_badge img.thumb_icon {
    border: 0px;
}
.layout_sitereview_pinboard_listings_sitereview .seaocore_list_featured_label {
    background-color: #ffd819 !important;
}
.sd-signup-interests.global_form > div {
    float: none;
}
.sd-signup-interests.global_form h3,
.sd-signup-interests.global_form .form-description{
    text-align: center;
    max-width: 550px;
    margin: 0px auto;
}
.sd_signup_interests {
    text-align: center;
    overflow: hidden;
}
.sd_signup_interests > li {
    width: 22%;
    display: inline-block;
    
}


/*
ADMIN TABLE LIST 
Styles most tabular data in the admin panel.
*/
table.admin_table thead tr th
{
  +foreground;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  white-space: nowrap;
}
table.admin_table thead tr th.admin_table_ordering > a,
table.admin_table thead tr th > a.admin_table_ordering
{
  font-style: italic;
  padding-right: 20px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
table.admin_table thead tr th.admin_table_direction_asc > a,
table.admin_table thead tr th > a.admin_table_direction_asc
{
  background-image: url(~/application/modules/Core/externals/images/admin/move_up.png);
}
table.admin_table thead tr th.admin_table_direction_desc > a,
table.admin_table thead tr th > a.admin_table_direction_desc
{
  background-image: url(~/application/modules/Core/externals/images/admin/move_down.png);
}
table.admin_table thead tr th a
{
  font-weight: bold;
}
table.admin_table tbody tr:nth-child(even)
{
  background-color: #f8f8f8;
}
table.admin_table tbody tr td
{
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: .9em;
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: top;
  white-space: normal;
}
table.admin_table tbody tr td.nowrap
{
  white-space: nowrap;
}
table.admin_table tbody tr td:last-child
{
  white-space: nowrap;
}
table.admin_table tbody tr td.wrap
{
  white-space: normal;
}
th.admin_table_short
{
  width: 1%;
}
td.admin_table_options
{
  color: #ccc;
}
.admin_table_centered
{
  text-align: center;
}
.admin_table_bold,
.admin_table_bold a
{
  font-weight: bold;
}
td.admin_table_options > span.sep
{
  display: none;
}
td.admin_table_options > a + span.sep
{
  display: inline;
}
.admin_table_email
{
  white-space: normal !important;
  max-width: 140px;
  word-wrap: break-word; 

}
.admin_table_user {
  white-space: normal !important;
  max-width: 140px;
  word-wrap: break-word;
}
.admin_table_form {
  overflow:auto;
}

.seaocore_list_featured_label.sd_featured_img {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    left: auto;
    right: 0px;   
}
.seaocore_board_list_action_links.sd_listing_action_links {
    right: auto;
    left: 2px;    
}
.sr_profile_sponsorfeatured.sd_sponsorfeatured_img {
    float: right;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 2px; 
}
div .seaocore_board_list_action_links.sd_listingview_action_links {
    opacity: 1;
    top: 45px;
    right: 0px;
    z-index: 50px;
}
div .seaocore_board_list_action_links.sd_listingview_action_links a {
    display: block;
    float: none;
    white-space: nowrap;
    background-color: #b2b2b2;    
}
.sd_listing_setting_actions {
    position: absolute;
    right: 0px;    
    z-index: 50;
}
.sd_listing_setting_actions.sd_active {
    display: block !important;
}
.sd_view_listing_rating.sr_ug_rating.fourstar {
    width: 75px;    
}
.sd_view_listing_rating.sr_ug_rating.threestar {
    width: 55px;
}
.sd_view_listing_rating.sr_ug_rating.twostar {
    width: 35px;
}
.sd_view_listing_rating.sr_ug_rating.onestar {
    width: 20px;
}

.layout_sdparentalguide_listing_rating .sr_ug_rating {
    display: inline-block;
    vertical-align: middle;    
}
.layout_sdparentalguide_listing_rating {
    margin: 10px auto;
}
.layout_sdparentalguide_listing_rating .sd_rating_label {
    margin-right: 5px;
}


@media screen and (max-width: 1199px){
    .layout_sdparentalguide_assigned_badges_slider .flexslider .slides img {margin: 0px auto;}
    .layout_sdparentalguide_assigned_badges .seaocore_photo_strips { text-align: center; }
    .layout_sdparentalguide_assigned_badges .seaocore_photo_strips div.thumb_photo{
        float: none;
        display: inline-block;
    }
}

@media screen and (max-width: 768px){
    #order_btn{
      font-size: 12px;
      border-radius: 50%;
      color: #fff;
      font-weight: bold;
      background-color: #5bc6cd;
    }
    .leaderboard_main div:nth-child(2){
      flex: 6;
    }
    .leaderboard_main div:nth-child(n+3){
      flex: 1;
    }
    .leaderboard_item div:nth-child(2){
      flex: 6;
    }
}

@media screen and (max-width: 576px){
    .leaderboard_title h3{
      margin: 0!important;
    }
    .leaderboard_title ul{
      margin: 0;
    }
    .leaderboard_title ul li{
      padding: 6px 24px;
    }
}

@media screen and (max-width: 486px){
    .leaderboard_title h3{
        font-size: 14px;
    }
    .leaderboard_title ul li{
      padding: 8px 12px;
      font-size: 12px;
    }
    .leaderboard_item div{
        font-size: 12px;
    }
}

@media screen and (max-width: 368px){
    .leaderboard_title ul li{
      padding: 8px 8px;
    }
}