label {
  font-weight: 500;
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
}

.form-control {
  border-style: solid;
  border-width: 0 0 2px 0;
  resize: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 14px;
  &:before {
    content: ' ';
    position: absolute;
    height: 2px;
    background-color: $primary;
    left: 0;
    width: 0;
    bottom: 0;
    transition: .2s width ease;
    z-index: 1;
  }
  &:focus {
    background-color: transparent;
    outline: none;
    border-color: $primary;
    &:after {
      width: 100%;
    }
  }
  &.form-control-rounded {
    border-radius: 100px;
    border-width: 2px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B3B3B3;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
}

.form-wrapper {
  @extend .form-group;
}

// CheckBox
input[type=checkbox] {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 2px;
  margin: 0 !important;
  width: 14px;
  &:checked + label:after {
    opacity: 1;
  }
  &:checked:hover + label:after {
    opacity: 1;
  }
  &:hover + label:after {
    opacity: 0.3;
  }
  + label {
    position: relative;
    float: left;
    left: 0;
    width: auto;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    color: #333D40;
    font-size: 14px;
    &:before {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: #fff;
      content: '';
      border-radius: 2px;
      box-shadow: 0 0 0 1px #B9CFD1;
      margin-right: 10px;
      vertical-align: middle;
    }
    &:after {
      transform: rotate(-45deg) translate(-50%, -50%);
      display: block;
      position: absolute;
      left: 9px;
      top: 5px;
      width: 11px;
      height: 5px;
      opacity: 0;
      text-align: center !important;
      background: transparent;
      border-left: 2px solid theme-color('primary') !important;
      border-bottom: 2px solid theme-color('primary') !important;
      content: '';
    }
  }
}
