[data-load] {
  background-image: url('../images/loader.svg');
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 32px;
  min-height: 50vh;
  > * {
    opacity: 0;
  }
  &.loaded {
    background-image: none;
    > * {
      opacity: 1;
    }
  }
}
