body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gg-widget--hero {
  min-height: 400px;
  font-weight: 600;
  color: #5CC7CE;
}

.gg-widget--herotitle {
  font-size: 60px;
  font-weight: 700;
}